@model List<AdminPersonRolesViewModel>

<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body">
            <!-- users edit start -->
            <section class="users-edit">
                <div class="card">
                    <div class="card-content">
                        <div class="card-body">

                            <div class="tab-content">
                                <div class="tab-pane active fade show" id="account" aria-labelledby="account-tab" role="tabpanel">

                                    <!-- users edit account form start -->
                                    <form asp-action="UserAccess" asp-controller="ManageUserAccess" method="post">
                                        <div class="row">
                                            <div class="col-xl-6 col-md-6 col-6 user-profile-card">
                                                <div class="card">
                                                    <div class="card-header mx-auto pt-3">
                                                        <div class="avatar bg-rgba-primary p-50">
                                                            <img class="img-fluid" src="/ProfileImages/Default.jpg" alt="img placeholder" height="134" width="134">
                                                        </div>
                                                    </div>
                                                    <div class="card-content">
                                                        <div class="card-body text-center">
                                                            <h4>@ViewData["UserName"]</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-6">
                                                <div class="table-responsive">
                                                    <table class="table mt-1">
                                                        <thead>
                                                            <tr>
                                                                <th>دسترسی ها</th>
                                                                <th>اجازه دارد/ندارد</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @for (int i = 0; i < (int)ViewData["RoleCount"]; i++)
                                                            {
                                                                <tr>
                                                                    <td>@Model[i].RoleTitle</td>
                                                                    <td>
                                                                        <input asp-for="@Model[i].RoleId" type="hidden" value="@Model[i].RoleId" />
                                                                        <input asp-for="@Model[i].RoleTitle" type="hidden" value="@Model[i].RoleTitle" />
                                                                        <input asp-for="@Model[i].IsChecked" type="checkbox" >
                                                                    </td>
                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            @if (ViewData["change"] != null )
                                            {
                                                <h4 class="success block">تغییرات اعمال شد</h4>
                                            }
                                            <div class="col-12 d-flex flex-sm-row flex-column justify-content-end mt-1">
                                               
                                              
                                               
                                                <button type="submit" class="btn btn-primary glow mb-1 mb-sm-0 mr-0 mr-sm-1">ذخیره تغییرات</button>
                                                <a href="/AdminPanel/ManageUserAccess/UserList/" class="btn btn-light">بازگشت</a>
                                            </div>
                                        </div>
                                    </form>
                                    <!-- users edit account form ends -->
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- users edit ends -->
        </div>
    </div>
</div>